:root {
	--primary: #e96d7b;
	--base-100: #fae7f4;
	--base-content: rgba(99, 44, 59);
	--secondary: ##a991f7;
	--accent: #66b1b3;
}

/* Resets */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* 2. Remove default margin */
* {
	margin: 0;
}
body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/*
	9. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

body {
	font-family: 'Fira Code Variable', monospace;
	background-color: var(--base-100);
}

main {
	color: var(--base-content);
	min-height: 100dvh;
	display: grid;

	grid-template-rows: 1fr auto;
	align-items: center;
	justify-items: center;

	div {
		display: grid;
		align-content: center;
		justify-items: center;
		h1 {
			font-size: 5rem;
		}
	}
	footer {
		font-size: 1rem;
	}
}

a {
	color: var(--accent);
}

#counter {
	font-size: 2rem;
	font-weight: 700;
}

p {
	margin: 1rem 0 1rem 0;
}
/* fira-code-latin-wght-normal */
@font-face {
	font-family: 'Fira Code Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 700;
	src: url('/assets/fira-code-latin-wght-normal.woff2') format('woff2-variations');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC,
		U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
